@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p{
    line-height: 2;
}



body {
  overflow-x: hidden;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: #f2f2f2;
}