$primary: #387cff;
$secondary: #8438FF;
$highlight: #FF7438;
$splash: #38CFFF;
$light-outer-shadow: 1px 2px 4px lightgrey;
$dark-outer-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$form-input-bg: #eeeef3;
$hover-border: 0 0 0 2px $splash;
$inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;

@mixin line {
    background-color: $primary;
    content: "";
    height: 4px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.inner-shadow{
    box-shadow: $inner-shadow;
}

.dark-outer-shadow{
    box-shadow: $dark-outer-shadow;
}

.light-outer-shadow{
    box-shadow: $dark-outer-shadow;
}

.img-box{
    padding: 2rem;
    border-radius: 5px;
}

.img-box img {
    width: 100%;
    border: 10px solid transparent;
    border-radius: 5px;
}

.font-large{
    font-size: 4rem;
}

.container-fluid{
    max-width: 80%;
}

.text-highlight{
    color: $highlight;
}


.landing-img {
    filter: drop-shadow($light-outer-shadow);
}

input, textarea{
    outline: none;
    background-color: $form-input-bg;
}

input[name=signUp] {
    font-weight: bold;
    width: 100%;
    padding: 0.8rem 1.3rem;
    box-shadow: $light-outer-shadow;
    display: inline-block;
    border: none;
    border-radius: 10px;
    outline: none;
}

.sign-up {
    transition: all 0.5s ease;
    color: black;
    font-weight: bold;
    padding: 0.8rem 1rem;
    user-select: none;
    background-color: $primary;
    box-shadow: $light-outer-shadow;
    border-radius: 0.7rem;
    border: none;
    color: white;
}

.sign-up:hover {
    box-shadow: $hover-border;
    transition: all 0.5s ease;
    cursor: pointer;
    color: black;
    background: transparent;
}

.frame2 {
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem;
}

.how-it-works {
    text-align: center;
    width: 100%;
}
.buffer{
    margin-top: 15rem;
}

.large-p{
    font-size: 1.6rem;
}

.how-it-works-card{
    background-color: white;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    box-shadow: $dark-outer-shadow;
    height: 100%;
}

.how-it-works-card:hover{
    cursor: pointer;
}

hr {
    margin: auto;
    display: block;
    @include line()
}

.frame4-move {
    position: absolute;
    top: 0;
    left: 0;
    fill: $primary;
    width: 5vmax;
    z-index: -1;
    animation: move 10s ease-in-out infinite;
    transform-origin: 50% 50%;
}


.our-story {
    overflow: hidden;
  }


.questions {
    margin-top: 5rem;
    margin-bottom: 3rem;
    text-align: center;
    width: 100%;
}

.contact-img {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

@mixin input-style{
    width: 100%;
    padding: 1rem 2rem;
    margin-top: 10px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    box-shadow: $light-outer-shadow;
    border-radius: 10px;
    box-sizing: border-box;
}

input[name=name], [name=email]{
    @include input-style();
}

textarea[name=question]{
    @include input-style();
    height: 15rem;
}


.send-message {
    transition: all 0.5s ease;
    width: 100%;
    display: block;
    margin-left: auto;
    border: none;
    margin-right: auto;
    padding: 1rem 2rem;
    color: white;
    background-color: $highlight;
    box-shadow: $light-outer-shadow;
    border-radius: 50px;
}

.send-message:hover {
    box-shadow: $hover-border;
    transition: all 0.5s ease;
    color: black;
    background: transparent;
}


@media screen and (max-width: 991px){
    .sign-up {
        margin-top: 0.7rem;
    }
}