$primary: #FFBEED;
$secondary: #89CFF0;
$highlight: #FB7878;
$splash: #FFCA0D;
$light-outer-shadow: 1px 2px 4px lightgrey;
$dark-outer-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

.container-fluid{
    max-width: 90%;
}

.text-highlight{
    color: $highlight;
}

.top-text {
    color: white;
}

.text-h1 {
    font-size: 4rem;
    color: white;
}

.frame1 {
    width: 100%;
    float: right;
}

input, textarea{
    outline: none;
}

input[name=signUp] {
    width: 64%;
    padding: 0.8rem 1.3rem;
    margin: 10px 0px;
    background: $splash;
    box-shadow: $dark-outer-shadow;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    outline: none;
}

.sign-up {
    transition: all 0.5s ease;
    color: black;
    padding: 0.8rem 1rem;
    margin-left: 0.9rem;
    background: $splash;
    user-select: none;
    box-shadow: $dark-outer-shadow;
    border-radius: 0.7rem;
    border: 1px solid #ccc;
}

.sign-up:hover {
    transition: all 0.5s ease;
    cursor: pointer;
    background: $secondary;
}

.frame2 {
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem;
}

.how-it-works {
    text-align: center;
    width: 100%;
}

.text-p {
    float: right;
    color: white;
    font-size: 1.6rem;
}

hr {
    width: 50%;
    border: 0.15rem solid $primary;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rempx;
}

.frame4-move {
    position: absolute;
    top: 0;
    left: 0;
    fill: $primary;
    width: 5vmax;
    z-index: -1;
    animation: move 10s ease-in-out infinite;
    transform-origin: 50% 50%;
}

.frame4-move2 {
    position: absolute;
    bottom: 10;
    left: 0;
    fill: $primary;
    width: 5vmax;
    z-index: -1;
    animation: move2 10s ease-in-out infinite;
    transform-origin: 50% 50%;
}

.frame4-move3 {
    position: absolute;
    top: 100;
    right: 0;
    fill: $primary;
    width: 5vmax;
    z-index: -1;
    animation: move2 10s ease-in-out infinite;
    transform-origin: 50% 50%;
}

.about-us {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
}

.our-story {
    font-size: 2rem;
    overflow: hidden;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }
  
.our-story:before,
.our-story:after {
    background-color: $primary;
    content: "";
    display: inline-block;
    height: 4px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
  
.our-story:before {
    right: 0.5em;
    margin-left: -50%;
}
  
.our-story:after {
    left: 0.5em;
    margin-right: -50%;
}

.frame5 {
    width: 50%;
}

.questions {
    margin-top: 5rem;
    margin-bottom: 3rem;
    text-align: center;
    width: 100%;
}

.frame6 {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}


input[name=name], [name=email], textarea[name=question] {
    width: 100%;
    padding: 1rem 2rem;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: #FFCA0D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}


.send-message {
    transition: all 1s ease;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
    padding: 1rem 2rem;
    background: #FB7878;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border: 1px solid #FB7878;
}

.send-message:hover {
    transition: all 1s ease;
    background: $secondary;
}

//
//-> Animations
//

@keyframes move {
    0%   { transform: scale(1)   translate(5px, -10px); }
    38%  { transform: scale(0.8, 1) translate(20vw, 10vh) rotate(160deg); }
    40%  { transform: scale(0.8, 1) translate(20vw, 10vh) rotate(160deg); }
    78%  { transform: scale(1.3) translate(0vw, 20vh) rotate(-20deg); }
    80%  { transform: scale(1.3) translate(0vw, 20vh) rotate(-20deg); }
    100% { transform: scale(1)   translate(5px, -10px); }
}

@keyframes move2 {
    0%   { transform: scale(1)   translate(-5px, 20px); }
    38%  { transform: scale(0.8, 1) translate(-20vw, 10vh) rotate(160deg); }
    40%  { transform: scale(0.8, 1) translate(-20vw, 10vh) rotate(160deg); }
    78%  { transform: scale(1.3) translate(0vw, -20vh) rotate(-20deg); }
    80%  { transform: scale(1.3) translate(0vw, -20vh) rotate(-20deg); }
    100% { transform: scale(1)   translate(-5px, 20px); }
}

@keyframes move3 {
    0%   { transform: scale(1)   translate(-5px, 20px); }
    38%  { transform: scale(0.8, 1) translate(-20vw, 10vh) rotate(160deg); }
    40%  { transform: scale(0.8, 1) translate(-20vw, 10vh) rotate(160deg); }
    78%  { transform: scale(1.3) translate(0vw, -20vh) rotate(-20deg); }
    80%  { transform: scale(1.3) translate(0vw, -20vh) rotate(-20deg); }
    100% { transform: scale(1)   translate(-5px, 20px); }
}