$primary: #FFBEED;
$secondary: #89CFF0;
$highlight: #FB7878;
$splash: #FFCA0D;
$light-outer-shadow: 1px 2px 4px lightgrey;
$dark-outer-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

.container-fluid{
    max-width: 90%;
}

.text-highlight{
    color: $highlight;
}

.top-text {
    color: white;
}

.text-h1 {
    font-size: 4rem;
    color: white;
}

.frame1 {
    width: 100%;
    float: right;
}

input[name=email] {
    width: 64%;
    padding: 0.8rem 1.3rem;
    margin: 10px 0px;
    background: $splash;
    box-shadow: $dark-outer-shadow;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    outline: none;
}

.sign-up {
    transition: all 1s ease;
    color: black;
    padding: 0.8rem 1rem;
    margin-left: 0.9rem;
    background: $splash;
    box-shadow: $dark-outer-shadow;
    border-radius: 0.7rem;
    border: 1px solid #ccc;
}

.sign-up:hover {
    transition: all 1s ease;
    cursor: pointer;
    background: #fddc64;
}

.frame2 {
    width: 90%;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 1.7rem;
    background-color: $primary;
}

.how-it-works {
    text-align: center;
    width: 100%;
}

.text-p {
    float: right;
    color: white;
    font-size: 1.6rem;
}

hr {
    width: 50%;
    border: 0.15rem solid $primary;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rempx;
}

.frame4-move {
    position: absolute;
    top: 0;
    left: 0;
    fill: $primary;
    width: 5vmax;
    z-index: -1;
    animation: move 10s ease-in-out infinite;
    transform-origin: 50% 50%;
}

.frame4-move2 {
    position: absolute;
    bottom: 10;
    left: 0;
    fill: $primary;
    width: 5vmax;
    z-index: -1;
    animation: move2 10s ease-in-out infinite;
    transform-origin: 50% 50%;
}

.frame4-move3 {
    position: absolute;
    top: 100;
    right: 0;
    fill: $primary;
    width: 5vmax;
    z-index: -1;
    animation: move2 10s ease-in-out infinite;
    transform-origin: 50% 50%;
}


//
//-> Animations
//

@keyframes move {
    0%   { transform: scale(1)   translate(5px, -10px); }
    38%  { transform: scale(0.8, 1) translate(20vw, 10vh) rotate(160deg); }
    40%  { transform: scale(0.8, 1) translate(20vw, 10vh) rotate(160deg); }
    78%  { transform: scale(1.3) translate(0vw, 20vh) rotate(-20deg); }
    80%  { transform: scale(1.3) translate(0vw, 20vh) rotate(-20deg); }
    100% { transform: scale(1)   translate(5px, -10px); }
}

@keyframes move2 {
    0%   { transform: scale(1)   translate(-5px, 20px); }
    38%  { transform: scale(0.8, 1) translate(-20vw, 10vh) rotate(160deg); }
    40%  { transform: scale(0.8, 1) translate(-20vw, 10vh) rotate(160deg); }
    78%  { transform: scale(1.3) translate(0vw, -20vh) rotate(-20deg); }
    80%  { transform: scale(1.3) translate(0vw, -20vh) rotate(-20deg); }
    100% { transform: scale(1)   translate(-5px, 20px); }
}

@keyframes move3 {
    0%   { transform: scale(1)   translate(-5px, 20px); }
    38%  { transform: scale(0.8, 1) translate(-20vw, 10vh) rotate(160deg); }
    40%  { transform: scale(0.8, 1) translate(-20vw, 10vh) rotate(160deg); }
    78%  { transform: scale(1.3) translate(0vw, -20vh) rotate(-20deg); }
    80%  { transform: scale(1.3) translate(0vw, -20vh) rotate(-20deg); }
    100% { transform: scale(1)   translate(-5px, 20px); }
}