$primary: #FFBEED;
$secondary: #89CFF0;
$highlight: #FB7878;
$splash: #FFCA0D;

.top-text {
    color: white;
    width: 42%;
    padding-top: 20px;
    padding-left: 100px;
}

.text-h1 {
    font-size: 48px;
    color: white;
}

.frame1 {
    width: 330px;
    float: right;
    margin: 20px 100px 10px 10px;
}

input[name=email] {
    width: 50%;
    padding: 10px 20px;
    margin: 10px 0px;
    background: #FFCA0D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.sign-up {
    color: black;
    padding: 10px 12px;
    margin-left: 10px;
    background: #FFCA0D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: 1px solid #ccc;
}

.sign-up:hover {
    cursor: pointer;
    background: #fddc64;
}

.frame2 {
    width: 40%;
    float: left;
    margin-left: 50px;
    margin-bottom: 50px;
    padding: 10px;
    border-radius: 20px;
    background-color: #FFBEED;
}

.text-p {
    width: 46%;
    margin-right: 50px;
    margin-top: 20px;
    float: right;
    color: white;
    font-size: 1.6rem;
}

hr {
    border: 2px solid $primary;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.frame4-move {
    position: absolute;
    top: 0;
    left: 0;
    fill: #FF7B7B;
    width: 5vmax;
    z-index: -1;
    animation: move 10s ease-in-out infinite;
    transform-origin: 50% 50%;
}

.frame4-move2 {
    position: absolute;
    bottom: 10;
    left: 0;
    fill: #FF7B7B;
    width: 5vmax;
    z-index: -1;
    animation: move2 10s ease-in-out infinite;
    transform-origin: 50% 50%;
}

.frame4-move3 {
    position: absolute;
    top: 100;
    right: 0;
    fill: #FF7B7B;
    width: 5vmax;
    z-index: -1;
    animation: move2 10s ease-in-out infinite;
    transform-origin: 50% 50%;
}

@media screen and (max-width: 1150px) {
    .frame2 {
        display: block;
        width: 75%;
        float: none;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        border-radius: 20px;
        background-color: #FFBEED;
    }
    .text-p {
        width: 70%;
        display: block;
        float: none;
        margin-left: auto;
        margin-right: auto;
        color: white;
        font-size: 1.2rem;
    }
    hr {
        border: 2px solid $primary;
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
    .text-h1 {
        font-size: 22px;
    }
    .top-text {
        color: white;
        width: 80%;
        padding-top: 20px;
        padding-left: 100px;
    }
    .frame1 {
        width: 27%;
        float: right;
        margin: 20px 40px 10px 10px;
    }
    .sign-up {
        margin-left: 0px;
    }
}

@media screen and (min-width: 1650px) {
    .text-p {
        font-size: 32px;
    }
}

//
//-> Animations
//

@keyframes move {
    0%   { transform: scale(1)   translate(5px, -10px); }
    38%  { transform: scale(0.8, 1) translate(20vw, 10vh) rotate(160deg); }
    40%  { transform: scale(0.8, 1) translate(20vw, 10vh) rotate(160deg); }
    78%  { transform: scale(1.3) translate(0vw, 20vh) rotate(-20deg); }
    80%  { transform: scale(1.3) translate(0vw, 20vh) rotate(-20deg); }
    100% { transform: scale(1)   translate(5px, -10px); }
}

@keyframes move2 {
    0%   { transform: scale(1)   translate(-5px, 20px); }
    38%  { transform: scale(0.8, 1) translate(-20vw, 10vh) rotate(160deg); }
    40%  { transform: scale(0.8, 1) translate(-20vw, 10vh) rotate(160deg); }
    78%  { transform: scale(1.3) translate(0vw, -20vh) rotate(-20deg); }
    80%  { transform: scale(1.3) translate(0vw, -20vh) rotate(-20deg); }
    100% { transform: scale(1)   translate(-5px, 20px); }
}

@keyframes move3 {
    0%   { transform: scale(1)   translate(-5px, 20px); }
    38%  { transform: scale(0.8, 1) translate(-20vw, 10vh) rotate(160deg); }
    40%  { transform: scale(0.8, 1) translate(-20vw, 10vh) rotate(160deg); }
    78%  { transform: scale(1.3) translate(0vw, -20vh) rotate(-20deg); }
    80%  { transform: scale(1.3) translate(0vw, -20vh) rotate(-20deg); }
    100% { transform: scale(1)   translate(-5px, 20px); }
}